.hogwarts-characters{
    background-image: linear-gradient(rgba(0, 0, 0, 0.708),rgb(0, 0, 0, 0.6), rgb(0, 0, 0,0.8)), url("../Img/bg.jpg");
    background-position: left;
    background-size: cover;
    position: absolute;
    right: 0;
    left: 122px; 
    width: 100%;
    top:72px;
    bottom: 0;
    border-radius: 0 0 8px 0;
    display: block;
    padding: 2em;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    overflow:scroll; 
}


@media (max-width:769px) {
    .hogwarts-characters{
    left: 0;
    top: 72px;
    bottom: 121px;
    background-position: center;
    }
    ::-webkit-scrollbar {
      display: none;
      width: 10px;
    } 
}

@media (max-width:481px) {
    .hogwarts-characters{
      bottom: 81px;
      }
}

@media (max-width:375px) {
    .hogwarts-characters{
      bottom: 61px;
    }
}

.hogwarts-characters .characters{
    padding: 1em;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: 350px;
    max-width: 400px;
}

.hogwarts-characters .characters h1{
    color: #adafaf;
}

.hogwarts-characters img{
    height: 150px;
    width: 150px;
}

.hogwarts-characters .characters:hover {
    transform: translateY(-5px);
}



/* Harry, hermione, ron */
.scl-characters{
    background-image: linear-gradient(rgba(0, 0, 0, 0.708),rgb(0, 0, 0, 0.6), rgb(0, 0, 0,0.8)), url("../Img/pirate-artifacts-arrangement-still-life.jpg");
    background-position: left;
    background-size: cover;
    position: absolute;
    right: 0;
    left: 122px;
    width: 100%;
    top: 72px;
    bottom: 0;
    border-radius: 0 0 8px 0;
    padding: 5px;
    flex-direction:row; 
    display:inline-flex;
    flex-wrap:wrap;
    overflow:scroll;  
}

.scl-characters .character1{
    padding: 1em;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: 300px;
    max-width: 0px;
    color: #fff;
    margin: .5em;
}

.scl-characters .character1 h3{
    color: #adafaf;
    text-align: center;
    padding: 0 10px;
    font-size: 2em;
}

.scl-characters .character1 img {
    width: 120%;
    height: 120%;
    padding: 10px;
}

.scl-characters .box{
    background: rgb(57, 1, 1);
    justify-content: right;
    position:absolute;
    right: 0;
    left: 350px;
    width: 66%;
    height: 95%;
    top: 110px; 
    bottom: 62px;
    padding: 2em;
}

.scl-characters .box p{
    color: #f1abab;
    text-align: justify;
    padding: .5em;
}

.scl-characters .box ul{
    color: #f1abab;
    text-align: justify;
    padding: .5em;
}

.scl-characters .box a{
    color: #ffffff;
    text-align: justify;
    padding: .5em;
}


/* Malfoy */
.scl-characters2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.708),rgb(0, 0, 0, 0.6), rgb(0, 0, 0,0.8)), url("../Img/snake-bg.jpg");
    background-position: left;
    background-size: cover;
    position: absolute;
    right: 0;
    left: 122px;
    width: 100%;
    top: 72px;
    bottom: 0;
    border-radius: 0 0 8px 0;
    padding: 5px;
    flex-direction:row; 
    display:inline-flex;
    flex-wrap:wrap;
    overflow:scroll;  
}

.scl-characters2 .character2{
    padding: 1em;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: 300px;
    max-width: 0px;
    color: #fff;
    margin: .5em;
}

.scl-characters2 .character2 h3{
    color: #adafaf;
    text-align: center;
    padding: 0 10px;
    font-size: 2em;
}

.scl-characters2 .character2 img {
    width: 120%;
    height: 120%;
    padding: 10px;
}

.scl-characters2 .box2{
    background: rgb(6, 37, 17);
    justify-content: right;
    position:absolute;
    right: 0;
    left: 350px;
    width: 66%;
    height: 100%;
    top: 110px; 
    bottom: 62px;
    padding: 2em;
}

.scl-characters2 .box2 p{
    color: #97efa5;
    text-align: justify;
    padding: .5em;
}

.scl-characters2 .box2 ul{
    color: #97efa5;
    text-align: justify;
    padding: .5em;
}

.scl-characters2 .box2 a{
    color: #ffffff;
    text-align: justify;
    padding: .5em;
}

/* voldermot box size change */
.scl-characters2 .box3{
    background: rgb(6, 37, 17);
    justify-content: right;
    position:absolute;
    right: 0;
    left: 350px;
    width: 66%;
    height: 80%;
    top: 110px; 
    bottom: 62px;
    padding: 2em;
}

.scl-characters2 .box3 p{
    color: #97efa5;
    text-align: justify;
    padding: .5em;
}

.scl-characters2 .box3 ul{
    color: #97efa5;
    text-align: justify;
    padding: .5em;
}

.scl-characters2 .box3 a{
    color: #ffffff;
    text-align: justify;
    padding: .5em;
}